datalets/datalets.dtd

<!ELEMENT handler_configuration (components)>
<!ELEMENT components (component*)>
<!ELEMENT component (name, type, idm)>
<!ELEMENT idm (inputs*)>
<!ELEMENT inputs (input*, layouts)>
<!ELEMENT layouts (input*)>
<!ELEMENT input (name, description?, type, selection, validator?, list?)>
<!ELEMENT list (item+)>
<!ELEMENT item (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT selection (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT validator (#PCDATA)>